*{
    margin:0%;
    padding:0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: #ddd;
    overflow-x: hidden;
}
#header{
    position:sticky;
    top:0;
    background-color: #fff;
    display: flex;
    padding:0% 2%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#search{
    padding:5px;
    letter-spacing: 1px;
    font-size: 15px;
    margin:0%;
}
#search-button{
    padding: 10px;
    font-size: 18px;
    background-color: yellowgreen;
    color:white;
    cursor: pointer;
    border:none;
}
#help-button{
    background-color: black;
    border: 0.5px solid black;
    cursor: pointer;
    font-size:15px;
    margin-right: 20px;
    padding:10px;
    border-radius: 10px;
    color:white;
}


#app-zone{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin:2% 5%;
}

#app-card{
    background-color: white;
    display: inline-block;
    margin:0.5%;
}
#app-stats{
    text-align: center;
    font-size: 13px;
    color:gray;
    padding:5px 0px;
}
#app-card:hover{
    cursor: pointer;
    box-shadow: 0px 0px 3px 3px gray;
}

#footer{
    background-color: yellowgreen;
    color:white;
    padding:2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.7px;
    word-spacing: 5px;
}

#icons a{
    font-size:40px;
    margin:0px 15px;
    color:white;
}
#icons a:hover{
    color:black;
}

#app-tile-name{
    font-size: 14px;
}

#info{
    margin: 1% 10%;
    background-color: #333;
    color:#ccc;
    padding:2%;
}
#answer{
    margin:2%;
}

@media screen and (max-width:600px) {
    #search-box{
        display: none;
    }   
    #web-logo{
        width:100px;
    }
    #app-zone{
        display: block;
        text-align: center;
    }
    #app-card{
        display: inline-block;
        margin:5% 2%;
    }
    #app-tile-img{
        width: 90%;
        padding:10px;
    }
    #app-stats{
        font-size: 100%;
    }
    #app-tile-name{
        font-size: 120%;
    }
    body,html{
        height:100%;
    }
    #footer{
        text-align: center;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    #info{
        margin: 10% 5%;
        padding:5%;
    }
    #answer{
        margin:5%;
    }
}
